body {
    font-family:times;
    color:black;
    font-size:medium;
}

ul {
    color:blue;
}

ol {
    type="a";
}

.odd {
    background:gray;
}

img {
    float:right;
    margin:4px;
}

.links {
    font-family:sans-serif
}

.best {
    font-style:italic;
}

table p {
    font-size:small;
}

table {
    margin:2px;
}

table table {
    margin:1px;
}

a:link {
    color:red;
}

a:visited {
    color:green;
}
